*{
    margin: 0;
    box-sizing: border-box;
}
.main-cart{
    overflow: hidden;
}

.cart{
    margin: 0;
    padding: 48px 32px 64px;
}
div {
    display: block;
}

.cart-titulo{
    margin-bottom: 24px;
}

.cart-content{
    display: flex;
}

.cart-product{
    width: 50%;
    flex-grow: 1;
    margin: 0 24px 0 0;
    position: relative;
}

.car-items{
    border: thin solid #e9e9e9;
}

.item-list{
    box-shadow: 0 0 6px rgb(0 0 0 / 5%);
    margin: 0;
    padding: 0;
}
.mensaje{
    text-align: center;
}
.list{
    padding: 24px 10px;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-bottom: thin solid #e9e9e9;
 
    justify-content: space-between;
    padding: 24px;
    display: flex;
    list-style: none;
    align-items: center;
}
a {
    background-color: transparent;
    text-decoration: none;
}

.list-deta{
    display: flex;
    width: 35%;
    align-items: center;
}

.img-product{
    text-align: center;
    margin-right: 10%;
    width: 30%;
}
.imagen_product{
    max-width: 120%;
    max-height: 120%;
}
img {
    vertical-align: middle;
    height: auto;
    max-width: none;
    max-height: none;
    display: inline;
}

.info-product{
    text-align: -webkit-center;
  
}
.item-precio{
    margin: 0 2%;
}

.precio-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cantidad{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.aumentar{
    margin: 0 20%;
}

.eliminar{
    margin: 0px 15%
}

.item-name{
    color: #444;
    font-size: 0.9rem;
   
}

.cart-detalle{
    width: 344px;
}

.detalle-content{
    padding: 16px 23px 12px;
    margin-top: 0px;
    
    background-color: #e9e9e9;
    border: thin solid #e9e9e9;
}
.conten-suma{
    color: #1D2126;
    font-size: 14px;
    line-height: 16px;
}
.detalle-suma{
    color: #1D2126;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5%;
}
.total-pagar {
    margin-top: 4%;
    margin-bottom: 8%;
}

.mycart{
    text-align: center;
    color: #444;
    margin-bottom: 4%;
}
.subtotal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
.iva {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
.linea{
    margin-bottom: 2%;
}
.valor-total{
    display: flex;
    justify-content: space-around;

    font-weight: bolder;
}

.btn-pago{
    text-align: center;
    margin-bottom: 3%;
    
}
.btn-pagar{
    color: #fff;
    background-color: #1D2126;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
}
.btn-pagar:hover{
   background-color: #787575;
}

@media (max-width: 1000px) {
   .list{
    justify-content: space-evenly;
   }
    .list-deta{
        width: 85%;
    }


    .aumentar {
        margin: 0 9%;
    }
    .eliminar{
        margin: 10%;
    }
    .item-precio{
        margin: 0%;
    }
    .img-product{
        margin-bottom: 2px;
        width: 100%;
    }

}

@media (max-width: 770px){
    .cart-content{
        display: flex;
        flex-direction: column-reverse;
        width: 200%;
     
    }
    .cart-detalle{
        margin-bottom: 13px;
        width: 50%;
    }
    .cart-product{
        margin-bottom: 10px;
    }
    .list{
        padding: 20px 20px 20px;
        display: block;
    }
    .list-deta{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .img-product{
        margin-bottom: 2px;
        width: 100%;
    }
    .info-product{
        text-align: center;
    }
    .item-precio{
        margin-bottom: 15px;
    }
    .cantidad{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 100%;
    }
    .aumentar{
        margin: 0%;
    }
    .detalle-content{
        padding: 2%;
    }
    .precio-product{
        text-align: center;
    }

}
